.chats {
    display: flex;
    flex-direction: row;
}

.navLeft {
    width: 300px;
    background-color: rgba(0, 0, 0, 0.144);
    padding: 10px;
    margin: 0;
    height: 80vh;
}

.chatList{
    list-style-type: none;
    margin: 0;
    height: 70vh;
    overflow-y: auto;
}

.lineUser {
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.418);
    padding-top: 10px;
}

.chat {
    width: 100vw;
    height: 80vh;
}

.noChat{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.conversationUser {
    display: flex;
    align-items: center;
    height: 10vh;
}

.messages {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    height: 60vh;
}

.sendMessage {
    padding: 3px 10px 3px 10px;
    height: 9vh;
    display: flex;
    align-items: center;

}

.buttonShowChatList{
    display: none;
}

@media only screen and (max-width: 600px) {
    .navLeft {
        display: none;
    }
    .buttonShowChatList{
        display: flex;
    }
}